body {

    background-color: rgb(231, 247, 247);

}

.center {
    margin: 0 auto;
    text-align: center;

}

img {
display: flex;
flex-wrap: wrap;
margin: 0 auto;
width: 80%;
height: auto;

}

/* Always at the bottom of css file */

@media screen and (max-width: 600px) {
    body {
       background: red;
    }
 }

 
@media screen and (max-width: 300px) {
    body {
       background: rgb(8, 224, 8);
    }
 }